Repository ROCm/rocPyDecode, pull requests merged in 2024-12, with the labels that each got.

#134 Compiler - Updated to AMD Clang
  CHANGELOG.md
  CMakeLists.txt
  README.md
  conda-recipe/meta.yaml
  docs/install/install.rst
  rocPyDecode-requirements.py
  samples/CMakeLists.txt
  setup.py
Labels: enhancement, ci:precheckin

#138 rocDecode Version Check - For Latest API Match
  CMakeLists.txt
  src/roc_pyvideodecode.cpp
Labels: bugfix

#144 Append to LD_LIBRARY_PATH in compile for sles/rhel
  .jenkins/common.groovy
  .jenkins/precheckin.groovy
Labels: ci:precheckin

#148 ci: fix job name list
  .jenkins/common.groovy
  .jenkins/precheckin.groovy
Labels: ci:precheckin
